.flip-card {
  display: inline-block;
  width: 2em;
  height: 2em;
  perspective: 600px;
  vertical-align: middle;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s cubic-bezier(.4,2.08,.55,.44);
  transform-style: preserve-3d;
  animation: flipCardAnim 2s infinite alternate;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  background: transparent;
}

.flip-card-back {
  background: transparent;
  transform: rotateY(180deg);
}

@keyframes flipCardAnim {
  0% { transform: rotateY(0deg);}
  100% { transform: rotateY(180deg);}
}